[Unit]
Description=Boot Message LCD POS Program 
After=network.target


[Service]

Type=single
ExecStart=//home/mharbuck/lci_ldx9000_driver/boot-m





[Install]
WantedBy=default.target


